@model IEnumerable<ProjectWeek02.Product>
@{
    ViewBag.Title = "TableResponsive";
    Layout = "~/Areas/Main/Views/Shared/_TableLayout.cshtml";

    <table class="container">
        <thead>
            <tr>
                <th>
                    <h1>@Html.DisplayNameFor(model => model.ProductName)</h1>
                </th>
                <th>
                    <h1>@Html.DisplayNameFor(model => model.Quantity)</h1>
                </th>
                <th>
                    <h1>@Html.DisplayNameFor(model => model.Price)</h1>
                </th>
                <th>
                    <h1>@Html.DisplayNameFor(model => model.Total)</h1>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
