@model List<Coffee>

<h2>Coffee List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Coffee Name</th>
            <th>Type</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coffee in Model)
        {
            <tr>
                <td>@coffee.CoffeeName</td>
                <td>@coffee.Type</td>
                <td>@coffee.Price</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = coffee.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = coffee.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
