@model Lab02_ASP.User

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Login.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container">
        <h2>Signup</h2>

        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <button type="submit" class="btn btn-primary">Signup</button>

        <p>Back to <a href="@Url.Action("Login", "Login")">Login</a></p>
    </div>
}
